{% if news %}
    <ul>
    {% for news_item in news %}

        <h4<font face="verdana" color="blue">
	{{ news_item.misc }}
	</font>
	</h4>
 	<h5>
	{{ news_item.source_paper }}
	</h5>
 	<h5>
	{{ news_item.source_paper_date }}
	</h5>
	<h3><a href={{news_item.news_url}}>
        {{news_item.headline}}
        </h3>
	</a>
	{% comment %}
       <img border="0" src={{news_item.news_image}}  width="100" height="100" /> 
	{% endcomment %}
	<p>
	{{news_item.snapshot_of_news}}
	</p>
    {% endfor %}
    </ul>
{% else %}
    <p>NOTHING AVAILABLE.</p>
{% endif %}
